<mat-card>
    <form (submit)="onPostCreate(postcreate)" #postcreate="ngForm">
        <mat-form-field>
            <input matInput type="text" name="title" ngModel #title="ngModel" required minlength="3">
        </mat-form-field>
        <mat-error *ngIf="title.hasError('required')">
            Title is <strong>required</strong>
          </mat-error>
          <mat-form-field>
              <textarea matInput rows="10" name="content" ngModel required #content="ngModel"></textarea>
          </mat-form-field>
          <mat-error *ngIf="content.hasError('required')">
            Content is <strong>required</strong>
          </mat-error>
          <button mat-raised-button color="accent" type="submit">Submit</button>
    </form>
 
</mat-card>



